@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #07969e;
    --grey: #4a5050;
    --light-grey: #919fb5;
    --black: #2d2d2d;
    --purple: #866dc5;
    --secondary-color: #a0dde2;
    --light-teal: #e6f5f6;
}
* {
    font-size: 20px;
}
html {
    width: 100%;
    height: 100%;
    margin: 20px;
    padding: 0;
    overflow-x: hidden;
}
body {
    margin: 0;
    font-family: 'Darker Grotesque', sans-serif, 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

.bold-text {
    font-weight: 700;
}
.small-text {
    font-size: 0.75rem;
}
